First things first, we have to read the data and import pandas.

In [51]:
import pandas as pd

In [52]:
data = pd.read_csv('data/main_data.tab', sep ='\t')

We will run the 6 models of regression as shown in the `Table SI.4.5` of the Supporting Information of the paper.

In the `Table SI.4.5`, the first 3 models use logistic regression (Logit), whereas the other 3 models use Ordinary Least Squares (OLS).

Every model has the same dependent variable, `dumrepression`, and different independent variables. Actually there are 3 different/unique sets of independent variables.

Each time, we will run two models for each set of parameters; one with Logit and one with OLS.

Finally, we will combine the results of the 6 models into one table.


Let's import the libraries needed to run the regressions.

In [53]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import logit
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import scipy.stats.stats as stats

* The first set of independent variables is the following: `hostcitytime, hostcitytime2, hostcity, time, time2`

With Logit:

In [54]:
independent_variables1 = ' + '.join(['hostcitytime', 'hostcitytime2', 'hostcity', 'time', 'time2'])

repression_logit_mod1 = logit("dumrepression ~ " + independent_variables1, data = data)
repression_logit_res1 = repression_logit_mod1.fit(cov_type='hc1')
repression_logit_res1.summary2()

Optimization terminated successfully.
         Current function value: 0.019190
         Iterations 10

<class 'statsmodels.iolib.summary2.Summary'>
"""
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.153
Dependent Variable: dumrepression    AIC:              2242.1305
Date:               2023-07-31 12:10 BIC:              2295.9508
No. Observations:   58107            Log-Likelihood:   -1115.1
Df Model:           5                LL-Null:          -1317.0
Df Residuals:       58101            LLR p-value:      4.4672e-85
Converged:          1.0000           Scale:            1.0000
No. Iterations:     10.0000
-----------------------------------------------------------------
                  Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
-----------------------------------------------------------------
Intercept        -5.8507   0.2667 -21.9345 0.0000 -6.3734 -5.3279
hostcitytime      4.1403   2.0808   1.9897 0.0466  0.0620  8.2187
hostcitytime2    -3.2143   1.5999  -2.0090 0.0445 -6.3501 -0.0785
hostcity          3.1376   0.5759   5.4478 0.0000  2.0088  4.2665
time             -0.8733   1.0675  -0.8181 0.4133 -2.9655  1.2190
time2             0.5355   0.8637   0.6200 0.5353 -1.1573  2.2283
=================================================================

"""

With OLS:

In [55]:
repression_ols_mod1 = smf.ols("dumrepression ~ " + independent_variables1, data = data)
repression_ols_res1 = repression_ols_mod1.fit(cov_type='hc1')
repression_ols_res1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          dumrepression   R-squared:                       0.043
Model:                            OLS   Adj. R-squared:                  0.043
Method:                 Least Squares   F-statistic:                     15.66
Date:                Mon, 31 Jul 2023   Prob (F-statistic):           1.95e-15
Time:                        12:10:09   Log-Likelihood:                 84143.
No. Observations:               58107   AIC:                        -1.683e+05
Df Residuals:                   58101   BIC:                        -1.682e+05
Df Model:                           5
Covariance Type:                  hc1
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         0.0028      0.001      4.137      0.000       0.001       0.004
hostcitytime      0.3184      0.158      2.017      0.044       0.009       0.628
hostcitytime2    -0.2616      0.121     -2.160      0.031      -0.499      -0.024
hostcity          0.0505      0.041      1.247      0.213      -0.029       0.130
time             -0.0021      0.003     -0.808      0.419      -0.007       0.003
time2             0.0013      0.002      0.637      0.524      -0.003       0.005
==============================================================================
Omnibus:                   114009.579   Durbin-Watson:                   1.702
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        181595523.133
Skew:                          16.100   Prob(JB):                         0.00
Kurtosis:                     274.970   Cond. No.                         201.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
"""

* The second set of independent variables is the following: `hostcitytime, hostcitytime2, hostcity, time, time2, lnpop_1970, vote_frejuli, literacy_avg, lnrebact1974, lnrepression70_77`

With Logit:

In [56]:
independent_variables2 = ' + '.join(['hostcitytime', 'hostcitytime2', 'hostcity', 'time', 'time2', 'lnpop_1970', 'vote_frejuli', 'literacy_avg', 'lnrebact1974', 'lnrepression70_77'])

repression_logit_mod2 = logit("dumrepression ~ " + independent_variables2, data = data)
repression_logit_res2 = repression_logit_mod2.fit(cov_type='hc1')
repression_logit_res2.summary2()

Optimization terminated successfully.
         Current function value: 0.013826
         Iterations 13

<class 'statsmodels.iolib.summary2.Summary'>
"""
                           Results: Logit
====================================================================
Model:                Logit            Pseudo R-squared: 0.403
Dependent Variable:   dumrepression    AIC:              1581.4556
Date:                 2023-07-31 12:10 BIC:              1679.7969
No. Observations:     56394            Log-Likelihood:   -779.73
Df Model:             10               LL-Null:          -1305.4
Df Residuals:         56383            LLR p-value:      1.6010e-219
Converged:            1.0000           Scale:            1.0000
No. Iterations:       13.0000
--------------------------------------------------------------------
                   Coef.   Std.Err.    z    P>|z|   [0.025   0.975]
--------------------------------------------------------------------
Intercept         -17.2479   3.1810 -5.4222 0.0000 -23.4825 -11.0133
hostcitytime        4.8685   2.1194  2.2971 0.0216   0.7146   9.0225
hostcitytime2      -3.7977   1.6473 -2.3054 0.0211  -7.0264  -0.5691
hostcity           -1.6274   0.6281 -2.5909 0.0096  -2.8585  -0.3963
time               -0.9927   1.0883 -0.9122 0.3617  -3.1257   1.1403
time2               0.6181   0.8822  0.7006 0.4835  -1.1109   2.3471
lnpop_1970          0.8683   0.2241  3.8746 0.0001   0.4291   1.3076
vote_frejuli        0.0061   0.0135  0.4503 0.6525  -0.0205   0.0326
literacy_avg       -0.2055   3.1718 -0.0648 0.9483  -6.4220   6.0110
lnrebact1974        0.0486   0.0776  0.6258 0.5315  -0.1036   0.2007
lnrepression70_77   0.5776   0.1409  4.0997 0.0000   0.3015   0.8537
====================================================================

"""

With OLS:

In [57]:
repression_ols_mod2 = smf.ols("dumrepression ~ " + independent_variables2, data = data)
repression_ols_res2 = repression_ols_mod2.fit(cov_type='hc1')
repression_ols_res2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          dumrepression   R-squared:                       0.058
Model:                            OLS   Adj. R-squared:                  0.058
Method:                 Least Squares   F-statistic:                     19.78
Date:                Mon, 31 Jul 2023   Prob (F-statistic):           5.57e-37
Time:                        12:10:09   Log-Likelihood:                 81421.
No. Observations:               56394   AIC:                        -1.628e+05
Df Residuals:                   56383   BIC:                        -1.627e+05
Df Model:                          10
Covariance Type:                  hc1
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            -0.0053      0.002     -2.406      0.016      -0.010      -0.001
hostcitytime          0.3186      0.156      2.036      0.042       0.012       0.625
hostcitytime2        -0.2617      0.120     -2.180      0.029      -0.497      -0.026
hostcity              0.0219      0.040      0.547      0.584      -0.057       0.100
time                 -0.0023      0.003     -0.886      0.376      -0.007       0.003
time2                 0.0014      0.002      0.707      0.480      -0.003       0.005
lnpop_1970            0.0012      0.000      5.808      0.000       0.001       0.002
vote_frejuli      -4.456e-05   1.96e-05     -2.275      0.023    -8.3e-05   -6.17e-06
literacy_avg         -0.0066      0.001     -5.258      0.000      -0.009      -0.004
lnrebact1974         -0.0002      0.000     -1.260      0.208      -0.000    9.86e-05
lnrepression70_77     0.0048      0.000     11.305      0.000       0.004       0.006
==============================================================================
Omnibus:                   108642.238   Durbin-Watson:                   1.727
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        155981025.969
Skew:                          15.483   Prob(JB):                         0.00
Kurtosis:                     258.779   Cond. No.                     9.29e+03
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 9.29e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

* The third set of independent variables is the following: `hostcitytime, hostcitytime2, hostcity, time, time2, lnpop_1970, vote_frejuli, literacy_avg, lnrebact1974, lnrepression70_77, zone2, zone3, zone4, zone5`

With Logit:

In [58]:
independent_variables3 = ' + '.join(['hostcitytime', 'hostcitytime2', 'hostcity', 'time', 'time2', 'lnpop_1970', 'vote_frejuli', 'literacy_avg', 'lnrebact1974', 'lnrepression70_77', 'zone2', 'zone3', 'zone4', 'zone5'])
id = ['hostcitytime', 'hostcitytime2', 'hostcity', 'time', 'time2']
repression_logit_mod3 = logit("dumrepression ~ " + independent_variables3, data = data)
repression_logit_res3 = repression_logit_mod3.fit(cov_type='hc1')
repression_logit_res3.summary2()
all_zero = [x + '= 0' for x in id]

all_zero
wald_li = []

wald_li.append(repression_logit_res1.wald_test(all_zero))
wald_li.append(repression_logit_res2.wald_test(all_zero))
wald_li.append(repression_logit_res3.wald_test(all_zero))

wald_li

Optimization terminated successfully.
         Current function value: 0.013570
         Iterations 13

c:\users\mernick\appdata\local\programs\python\python39\lib\site-packages\statsmodels\base\model.py:1889: FutureWarning: The behavior of wald_test will change after 0.14 to returning scalar test statistic values. To get the future behavior now, set scalar to True. To silence this message while retaining the legacy behavior, set scalar to False.
  warnings.warn(

[<class 'statsmodels.stats.contrast.ContrastResults'>
 <Wald test (chi2): statistic=[[712.20480345]], p-value=1.1278365642257932e-151, df_denom=5>,
 <class 'statsmodels.stats.contrast.ContrastResults'>
 <Wald test (chi2): statistic=[[9.53604112]], p-value=0.08950069662200084, df_denom=5>,
 <class 'statsmodels.stats.contrast.ContrastResults'>
 <Wald test (chi2): statistic=[[7.02773812]], p-value=0.2185855500461705, df_denom=5>]

With OLS:

In [59]:
repression_ols_mod3 = smf.ols("dumrepression ~ " + independent_variables3, data = data)
repression_ols_res3 = repression_ols_mod3.fit(cov_type='hc1')
repression_ols_res3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          dumrepression   R-squared:                       0.063
Model:                            OLS   Adj. R-squared:                  0.063
Method:                 Least Squares   F-statistic:                     14.45
Date:                Mon, 31 Jul 2023   Prob (F-statistic):           2.15e-35
Time:                        12:10:09   Log-Likelihood:                 81565.
No. Observations:               56394   AIC:                        -1.631e+05
Df Residuals:                   56379   BIC:                        -1.630e+05
Df Model:                          14
Covariance Type:                  hc1
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            -0.0050      0.003     -1.880      0.060      -0.010       0.000
hostcitytime          0.3186      0.155      2.055      0.040       0.015       0.623
hostcitytime2        -0.2617      0.119     -2.199      0.028      -0.495      -0.028
hostcity              0.0219      0.040      0.552      0.581      -0.056       0.100
time                 -0.0023      0.003     -0.885      0.376      -0.007       0.003
time2                 0.0014      0.002      0.707      0.480      -0.003       0.005
lnpop_1970            0.0038      0.000      9.167      0.000       0.003       0.005
vote_frejuli      -1.441e-06   2.68e-05     -0.054      0.957    -5.4e-05    5.11e-05
literacy_avg         -0.0266      0.003     -9.846      0.000      -0.032      -0.021
lnrebact1974         -0.0016      0.000     -7.784      0.000      -0.002      -0.001
lnrepression70_77     0.0037      0.000      8.776      0.000       0.003       0.005
zone2                -0.0165      0.002    -10.425      0.000      -0.020      -0.013
zone3                -0.0129      0.001     -9.585      0.000      -0.016      -0.010
zone4                -0.0071      0.005     -1.509      0.131      -0.016       0.002
zone5                -0.0102      0.001     -9.862      0.000      -0.012      -0.008
==============================================================================
Omnibus:                   108296.025   Durbin-Watson:                   1.736
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        153317250.667
Skew:                          15.376   Prob(JB):                         0.00
Kurtosis:                     256.580   Cond. No.                     9.29e+03
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 9.29e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Now, let's create the tables/dataframes for each type of regression.

* First, for Logit:

In [60]:
rl1 = repression_logit_res1.params
rl2 = repression_logit_res2.params
rl3 = repression_logit_res3.params

dfs = list()
dfs.append(rl1)
dfs.append(rl2)
dfs.append(rl3)
colnames = ['(1)','(2)','(3)']

In [61]:
def createTable(dflist,colnames):
#     df = pd.DataFrame(columns=['A', 'B', 'C'], index=range(5))
    df_list = list()
    results = pd.DataFrame()
    for i in range(0,len(dflist)):
        df = dflist[i].to_frame(name=colnames[i])
        results = pd.concat([results,df],axis=1)
    results = results.round(3)
    return results

In [62]:
res = createTable(dfs,colnames)

In [63]:
res

                     (1)     (2)     (3)
Intercept         -5.851 -17.248 -15.402
hostcitytime       4.140   4.869   5.378
hostcitytime2     -3.214  -3.798  -4.217
hostcity           3.138  -1.627  -1.327
time              -0.873  -0.993  -0.992
time2              0.535   0.618   0.618
lnpop_1970           NaN   0.868   0.746
vote_frejuli         NaN   0.006   0.020
literacy_avg         NaN  -0.206  -0.127
lnrebact1974         NaN   0.049  -0.131
lnrepression70_77    NaN   0.578   0.545
zone2                NaN     NaN  -1.999
zone3                NaN     NaN  -0.983
zone4                NaN     NaN  -0.163
zone5                NaN     NaN  -0.786

We take only the necessary columns, as shown in the `Table SI.4.5`.

In [64]:
res = res.loc[['hostcitytime', 'hostcitytime2', 'hostcity', 'time', 'time2','Intercept']]
res.rename({'hostcity':'Host City',
                'hostcitytime':'Host City * Time',
                'hostcitytime2':'Host City * Time2',
                'time':'Time',
                'time2': 'Time2',
                'Intercept': 'Constant'},inplace=True)

In [65]:
res

                     (1)     (2)     (3)
Host City * Time   4.140   4.869   5.378
Host City * Time2 -3.214  -3.798  -4.217
Host City          3.138  -1.627  -1.327
Time              -0.873  -0.993  -0.992
Time2              0.535   0.618   0.618
Constant          -5.851 -17.248 -15.402

Now, we need to add the standard deviation for each variable.

We will use the method we created, `createTable`.

In [66]:
std1 = repression_logit_res1.bse
std2 = repression_logit_res2.bse
std3 = repression_logit_res3.bse

stds = list()
stds.append(std1)
stds.append(std2)
stds.append(std3)

st = createTable(stds,colnames)

In [67]:
st = st.loc[['hostcitytime', 'hostcitytime2', 'hostcity', 'time', 'time2','Intercept']]

In [68]:

st['(1)'] = st['(1)'].apply(lambda x: f'({x})')

st['(2)'] = st['(2)'].apply(lambda x: f'({x})')

st['(3)'] = st['(3)'].apply(lambda x: f'({x})')

In [69]:
st.rename({'hostcity':'Host City Std',
                'hostcitytime':'Host City * Time Std',
                'hostcitytime2':'Host City * Time2 Std',
                'time':'Time Std',
                'time2': 'Time2 Std',
                'Intercept': 'Constant Std'}, inplace=True)

In [70]:
st

                           (1)      (2)      (3)
Host City * Time Std   (2.081)  (2.119)  (2.267)
Host City * Time2 Std    (1.6)  (1.647)  (1.774)
Host City Std          (0.576)  (0.628)   (0.69)
Time Std               (1.067)  (1.088)  (1.086)
Time2 Std              (0.864)  (0.882)   (0.88)
Constant Std           (0.267)  (3.181)  (3.161)

Now, it is time to combine the two dataframes, `results` and `st`.

In [71]:
results = res.append(st)
results = results[~results.index.duplicated()]
results = results.reindex(['Host City * Time','Host City * Time Std',
                           'Host City * Time2','Host City * Time2 Std',
                           'Host City','Host City Std',
                           'Time','Time Std',
                           'Time2','Time2 Std',
                           'Constant','Constant Std'])
results = results.fillna('')

results

                           (1)      (2)      (3)
Host City * Time          4.14    4.869    5.378
Host City * Time Std   (2.081)  (2.119)  (2.267)
Host City * Time2       -3.214   -3.798   -4.217
Host City * Time2 Std    (1.6)  (1.647)  (1.774)
Host City                3.138   -1.627   -1.327
Host City Std          (0.576)  (0.628)   (0.69)
Time                    -0.873   -0.993   -0.992
Time Std               (1.067)  (1.088)  (1.086)
Time2                    0.535    0.618    0.618
Time2 Std              (0.864)  (0.882)   (0.88)
Constant                -5.851  -17.248  -15.402
Constant Std           (0.267)  (3.181)  (3.161)

Now, it is time to add the metrics of the 3 models.


First, we need to run the wald test for the 3 models.

In [72]:
id1 = ['hostcitytime', 'hostcitytime2', 'hostcity', 'time', 'time2']
id2 = ['hostcitytime', 'hostcitytime2', 'hostcity', 'time', 'time2','lnpop_1970', 'vote_frejuli', 'literacy_avg', 'lnrebact1974', 'lnrepression70_77']
id3 = ['hostcitytime', 'hostcitytime2', 'hostcity', 'time', 'time2','lnpop_1970', 'vote_frejuli', 'literacy_avg', 'lnrebact1974', 'lnrepression70_77', 'zone2', 'zone3', 'zone4', 'zone5']

all_zero1 = [x + '= 0' for x in id1]
all_zero2 = [x + '= 0' for x in id2]
all_zero3 = [x + '= 0' for x in id3]

wald_li = []

w1=repression_logit_res1.wald_test(all_zero1).statistic[0][0]
w2=repression_logit_res2.wald_test(all_zero2).statistic[0][0]
w3=repression_logit_res3.wald_test(all_zero3).statistic[0][0]

wald = [w1,w2,w3]

c:\users\mernick\appdata\local\programs\python\python39\lib\site-packages\statsmodels\base\model.py:1889: FutureWarning: The behavior of wald_test will change after 0.14 to returning scalar test statistic values. To get the future behavior now, set scalar to True. To silence this message while retaining the legacy behavior, set scalar to False.
  warnings.warn(

Then, we extract the pseudo R^2.

In [73]:
rs1 = repression_logit_res1.prsquared
rs2 = repression_logit_res2.prsquared
rs3 = repression_logit_res3.prsquared

rs = [rs1,rs2,rs3]

Then, the number of observations.

In [74]:
obs1 = repression_logit_res1.nobs
obs2 = repression_logit_res2.nobs
obs3 = repression_logit_res3.nobs

obs = [obs1,obs2,obs3]

In [75]:
c1 = [w1,rs1,obs1]
c2 = [w2,rs2,obs2]
c3 = [w3,rs3,obs3]

Now, we need to create a new dataframe with these metrics.

In [76]:
data1 = {'(1)':c1,'(2)':c2,'(3)':c3}
indexes = ['Wald ^2','Pseudo R^2','Observations']

metrics = pd.DataFrame(data1,index=indexes)
metrics = metrics.round(2)

metrics

                   (1)       (2)       (3)
Wald ^2        712.20    637.22    791.31
Pseudo R^2        0.15      0.40      0.41
Observations  58107.00  56394.00  56394.00

Now, we combine the metrics dataframe with the results dataframe.

In [77]:
results = results.append(metrics)
results = results[~results.index.duplicated()]

results

                           (1)      (2)      (3)
Host City * Time          4.14    4.869    5.378
Host City * Time Std   (2.081)  (2.119)  (2.267)
Host City * Time2       -3.214   -3.798   -4.217
Host City * Time2 Std    (1.6)  (1.647)  (1.774)
Host City                3.138   -1.627   -1.327
Host City Std          (0.576)  (0.628)   (0.69)
Time                    -0.873   -0.993   -0.992
Time Std               (1.067)  (1.088)  (1.086)
Time2                    0.535    0.618    0.618
Time2 Std              (0.864)  (0.882)   (0.88)
Constant                -5.851  -17.248  -15.402
Constant Std           (0.267)  (3.181)  (3.161)
Wald ^2                 712.2   637.22   791.31
Pseudo R^2                0.15      0.4     0.41
Observations           58107.0  56394.0  56394.0

We will do the same procedure for the OLS models and then combine everything into one dataframe.

In [78]:
ol1 = repression_ols_res1.params
ol2 = repression_ols_res2.params
ol3 = repression_ols_res3.params

dfs = list()
dfs.append(ol1)
dfs.append(ol2)
dfs.append(ol3)
colnames = ['(4)','(5)','(6)']

In [79]:
res1 = createTable(dfs,colnames)

In [80]:
res1

                     (4)    (5)    (6)
Intercept          0.003 -0.005 -0.005
hostcitytime       0.318  0.319  0.319
hostcitytime2     -0.262 -0.262 -0.262
hostcity           0.051  0.022  0.022
time              -0.002 -0.002 -0.002
time2              0.001  0.001  0.001
lnpop_1970           NaN  0.001  0.004
vote_frejuli         NaN -0.000 -0.000
literacy_avg         NaN -0.007 -0.027
lnrebact1974         NaN -0.000 -0.002
lnrepression70_77    NaN  0.005  0.004
zone2                NaN    NaN -0.017
zone3                NaN    NaN -0.013
zone4                NaN    NaN -0.007
zone5                NaN    NaN -0.010

In [81]:
res1 = res1.loc[['hostcitytime', 'hostcitytime2', 'hostcity', 'time', 'time2','Intercept']]
res1.rename({'hostcity':'Host City',
                'hostcitytime':'Host City * Time',
                'hostcitytime2':'Host City * Time2',
                'time':'Time',
                'time2': 'Time2',
                'Intercept': 'Constant'},inplace=True)

In [82]:
res1

                     (4)    (5)    (6)
Host City * Time   0.318  0.319  0.319
Host City * Time2 -0.262 -0.262 -0.262
Host City          0.051  0.022  0.022
Time              -0.002 -0.002 -0.002
Time2              0.001  0.001  0.001
Constant           0.003 -0.005 -0.005

Now, we need to add the standard deviation for each variable and.

We will use the method we created, `createTable`.

In [83]:
std1 = repression_ols_res1.bse
std2 = repression_ols_res2.bse
std3 = repression_ols_res3.bse

stds = list()
stds.append(std1)
stds.append(std2)
stds.append(std3)

st = createTable(stds,colnames)
st = st.loc[['hostcitytime', 'hostcitytime2', 'hostcity', 'time', 'time2','Intercept']]


st['(4)'] = st['(4)'].apply(lambda x: f'({x})')

st['(5)'] = st['(5)'].apply(lambda x: f'({x})')

st['(6)'] = st['(6)'].apply(lambda x: f'({x})')


st.rename({'hostcity':'Host City Std',
                'hostcitytime':'Host City * Time Std',
                'hostcitytime2':'Host City * Time2 Std',
                'time':'Time Std',
                'time2': 'Time2 Std',
                'Intercept': 'Constant Std'}, inplace=True)

st

                           (4)      (5)      (6)
Host City * Time Std   (0.158)  (0.156)  (0.155)
Host City * Time2 Std  (0.121)   (0.12)  (0.119)
Host City Std          (0.041)   (0.04)   (0.04)
Time Std               (0.003)  (0.003)  (0.003)
Time2 Std              (0.002)  (0.002)  (0.002)
Constant Std           (0.001)  (0.002)  (0.003)

Now, it is time to combine the two dataframes, `res1` and `st`.

In [84]:
results1 = res1.append(st)
results1 = results1[~results1.index.duplicated()]
results1 = results1.reindex(['Host City * Time','Host City * Time Std',
                           'Host City * Time2','Host City * Time2 Std',
                           'Host City','Host City Std',
                           'Time','Time Std',
                           'Time2','Time2 Std',
                           'Constant','Constant Std'])

results1 = results1.fillna('')
results1

                           (4)      (5)      (6)
Host City * Time         0.318    0.319    0.319
Host City * Time Std   (0.158)  (0.156)  (0.155)
Host City * Time2       -0.262   -0.262   -0.262
Host City * Time2 Std  (0.121)   (0.12)  (0.119)
Host City                0.051    0.022    0.022
Host City Std          (0.041)   (0.04)   (0.04)
Time                    -0.002   -0.002   -0.002
Time Std               (0.003)  (0.003)  (0.003)
Time2                    0.001    0.001    0.001
Time2 Std              (0.002)  (0.002)  (0.002)
Constant                 0.003   -0.005   -0.005
Constant Std           (0.001)  (0.002)  (0.003)

Now, it is time to add the metrics of the 3 models.

`Controls` shows if the control variables are used in the model.

The control variables are: `lnpop_1970, vote_frejuli, literacy_avg, lnrebact1974, lnrepression70_77`

Only the first model of each 'group' does not use the control variables.

In [85]:
c = ['','','','','','']

Similarly, `Zone FE` shows if  fixed effects for military zones are used in the model.

The fixed effect variables are : `zone2, zone3, zone4, zone5`

Only the third model of each 'group' uses the fixed effect variables.

In [86]:
fe1 =  ['','','','','','']

First, we extract the R^2.

In [87]:
rs1 = repression_ols_res1.rsquared
rs2 = repression_ols_res2.rsquared
rs3 = repression_ols_res3.rsquared

rs = [rs1,rs2,rs3]

Then, the the F-Statistic.

In [88]:
fstat1 = repression_ols_res1.fvalue
fstat2 = repression_ols_res2.fvalue
fstat3 = repression_ols_res3.fvalue

fstats= [fstat1,fstat2,fstat3]

Finally, the number of observations.

In [89]:
obs1 = repression_ols_res1.nobs
obs2 = repression_ols_res2.nobs
obs3 = repression_ols_res3.nobs

In [90]:
c1 = [fstat1,rs1,obs1]
c2 = [fstat2,rs2,obs2]
c3 = [fstat3,rs3,obs3]

Now, we need to create a new dataframe with these metrics.

In [91]:
data1 = {'(4)':c1,'(5)':c2,'(6)':c3}
indexes = ['F-Statistic','R^2','Observations']

metrics = pd.DataFrame(data1,index=indexes)
metrics = metrics.round(2)
metrics

                   (4)       (5)       (6)
F-Statistic      15.66     19.78     14.45
R^2               0.04      0.06      0.06
Observations  58107.00  56394.00  56394.00

We combine them with the other dataframe.

In [92]:
results1 = results1.append(metrics)
results1 = results1[~results1.index.duplicated()]

results1

                           (4)      (5)      (6)
Host City * Time         0.318    0.319    0.319
Host City * Time Std   (0.158)  (0.156)  (0.155)
Host City * Time2       -0.262   -0.262   -0.262
Host City * Time2 Std  (0.121)   (0.12)  (0.119)
Host City                0.051    0.022    0.022
Host City Std          (0.041)   (0.04)   (0.04)
Time                    -0.002   -0.002   -0.002
Time Std               (0.003)  (0.003)  (0.003)
Time2                    0.001    0.001    0.001
Time2 Std              (0.002)  (0.002)  (0.002)
Constant                 0.003   -0.005   -0.005
Constant Std           (0.001)  (0.002)  (0.003)
F-Statistic              15.66    19.78    14.45
R^2                       0.04     0.06     0.06
Observations           58107.0  56394.0  56394.0

Finally, we merge the dataframes together.

In [93]:
table = pd.concat([results,results1],axis=1)
table = table[~table.index.duplicated()]

We need to add the `Controls` and the `Zone FE` variables.

`Controls` shows if the control variables are used in the model.

The control variables are: `lnpop_1970, vote_frejuli, literacy_avg, lnrebact1974, lnrepression70_77`

Only the first model of each 'group' does not use the control variables.

In [94]:
c = ['','','','','','']

Similarly, `Zone FE` shows if  fixed effects for military zones are used in the model.

The fixed effect variables are : `zone2, zone3, zone4, zone5`

Only the third model of each 'group' does uses the fixed effect variables.

In [95]:
fe1 =  ['','','','','','']

In [96]:
table.loc["Controls"] =c
table.loc["Zone FE"] = fe1
table

                           (1)      (2)      (3)      (4)      (5)      (6)
Host City * Time          4.14    4.869    5.378    0.318    0.319    0.319
Host City * Time Std   (2.081)  (2.119)  (2.267)  (0.158)  (0.156)  (0.155)
Host City * Time2       -3.214   -3.798   -4.217   -0.262   -0.262   -0.262
Host City * Time2 Std    (1.6)  (1.647)  (1.774)  (0.121)   (0.12)  (0.119)
Host City                3.138   -1.627   -1.327    0.051    0.022    0.022
Host City Std          (0.576)  (0.628)   (0.69)  (0.041)   (0.04)   (0.04)
Time                    -0.873   -0.993   -0.992   -0.002   -0.002   -0.002
Time Std               (1.067)  (1.088)  (1.086)  (0.003)  (0.003)  (0.003)
Time2                    0.535    0.618    0.618    0.001    0.001    0.001
Time2 Std              (0.864)  (0.882)   (0.88)  (0.002)  (0.002)  (0.002)
Constant                -5.851  -17.248  -15.402    0.003   -0.005   -0.005
Constant Std           (0.267)  (3.181)  (3.161)  (0.001)  (0.002)  (0.003)
Wald ^2                 712.2   637.22   791.31      NaN      NaN      NaN
Pseudo R^2                0.15      0.4     0.41      NaN      NaN      NaN
Observations           58107.0  56394.0  56394.0  58107.0  56394.0  56394.0
F-Statistic                NaN      NaN      NaN    15.66    19.78    14.45
R^2                        NaN      NaN      NaN     0.04     0.06     0.06
Controls
Zone FE

In [97]:
table = table.fillna('')
table = table.reindex(['Host City * Time','Host City * Time Std',
                           'Host City * Time2','Host City * Time2 Std',
                           'Host City','Host City Std',
                           'Time','Time Std',
                           'Time2','Time2 Std',
                           'Constant','Constant Std',
                           'Controls','Zone FE',
                       'Wald ^2',
                            'Pseudo R^2','F-Statistic',
                            'R^2','Observations'])

We need to add the headers too.

In [98]:
colnames = list(table.columns)
t1 = table[colnames[:3]]
t2 = table[colnames[3:6]]


t1 = pd.DataFrame(t1.values,
                 index=t1.index,
                 columns = pd.MultiIndex.from_product([['Logit'],[colnames[0],colnames[1],colnames[2]]]))
t2 = pd.DataFrame(t2.values,
                 index=t2.index,
                 columns = pd.MultiIndex.from_product([['OLS'],[colnames[3],colnames[4],colnames[5]]]))

In [99]:
table = pd.concat([t1, t2], axis=1)

We now have the `Table SI.4.5.`

In [100]:
table

                         Logit                        OLS
                           (1)      (2)      (3)      (4)      (5)      (6)
Host City * Time          4.14    4.869    5.378    0.318    0.319    0.319
Host City * Time Std   (2.081)  (2.119)  (2.267)  (0.158)  (0.156)  (0.155)
Host City * Time2       -3.214   -3.798   -4.217   -0.262   -0.262   -0.262
Host City * Time2 Std    (1.6)  (1.647)  (1.774)  (0.121)   (0.12)  (0.119)
Host City                3.138   -1.627   -1.327    0.051    0.022    0.022
Host City Std          (0.576)  (0.628)   (0.69)  (0.041)   (0.04)   (0.04)
Time                    -0.873   -0.993   -0.992   -0.002   -0.002   -0.002
Time Std               (1.067)  (1.088)  (1.086)  (0.003)  (0.003)  (0.003)
Time2                    0.535    0.618    0.618    0.001    0.001    0.001
Time2 Std              (0.864)  (0.882)   (0.88)  (0.002)  (0.002)  (0.002)
Constant                -5.851  -17.248  -15.402    0.003   -0.005   -0.005
Constant Std           (0.267)  (3.181)  (3.161)  (0.001)  (0.002)  (0.003)
Controls
Zone FE
Wald ^2                 712.2   637.22   791.31
Pseudo R^2                0.15      0.4     0.41
F-Statistic                                         15.66    19.78    14.45
R^2                                                  0.04     0.06     0.06
Observations           58107.0  56394.0  56394.0  58107.0  56394.0  56394.0